#include <physical_layouts.dtsi>

/ {
    charybdis_physical_layout: charybdis_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Charybdis 4x6";
        status = "okay";
        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys
            // Number Row (pos 0-11) - same column stagger as alpha rows
            //                       w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   38       0     0     0>
            , <&key_physical_attrs 100 100  100   38       0     0     0>
            , <&key_physical_attrs 100 100  200   12       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400   12       0     0     0>
            , <&key_physical_attrs 100 100  500   12       0     0     0>
            , <&key_physical_attrs 100 100  900   12       0     0     0>
            , <&key_physical_attrs 100 100 1000   12       0     0     0>
            , <&key_physical_attrs 100 100 1100    0       0     0     0>
            , <&key_physical_attrs 100 100 1200   12       0     0     0>
            , <&key_physical_attrs 100 100 1300   38       0     0     0>
            , <&key_physical_attrs 100 100 1400   38       0     0     0>

            // Row 1 - Alpha Top (pos 12-23)
            //                       w   h    x    y     rot    rx    ry
            , <&key_physical_attrs 100 100    0  138       0     0     0>
            , <&key_physical_attrs 100 100  100  138       0     0     0>
            , <&key_physical_attrs 100 100  200  112       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  112       0     0     0>
            , <&key_physical_attrs 100 100  500  112       0     0     0>
            , <&key_physical_attrs 100 100  900  112       0     0     0>
            , <&key_physical_attrs 100 100 1000  112       0     0     0>
            , <&key_physical_attrs 100 100 1100  100       0     0     0>
            , <&key_physical_attrs 100 100 1200  112       0     0     0>
            , <&key_physical_attrs 100 100 1300  138       0     0     0>
            , <&key_physical_attrs 100 100 1400  138       0     0     0>

            // Row 2 - Alpha Home (pos 24-35)
            //                       w   h    x    y     rot    rx    ry
            , <&key_physical_attrs 100 100    0  238       0     0     0>
            , <&key_physical_attrs 100 100  100  238       0     0     0>
            , <&key_physical_attrs 100 100  200  212       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  212       0     0     0>
            , <&key_physical_attrs 100 100  500  212       0     0     0>
            , <&key_physical_attrs 100 100  900  212       0     0     0>
            , <&key_physical_attrs 100 100 1000  212       0     0     0>
            , <&key_physical_attrs 100 100 1100  200       0     0     0>
            , <&key_physical_attrs 100 100 1200  212       0     0     0>
            , <&key_physical_attrs 100 100 1300  238       0     0     0>
            , <&key_physical_attrs 100 100 1400  238       0     0     0>

            // Row 3 - Alpha Bottom (pos 36-47)
            //                       w   h    x    y     rot    rx    ry
            , <&key_physical_attrs 100 100    0  338       0     0     0>
            , <&key_physical_attrs 100 100  100  338       0     0     0>
            , <&key_physical_attrs 100 100  200  312       0     0     0>
            , <&key_physical_attrs 100 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  400  312       0     0     0>
            , <&key_physical_attrs 100 100  500  312       0     0     0>
            , <&key_physical_attrs 100 100  900  312       0     0     0>
            , <&key_physical_attrs 100 100 1000  312       0     0     0>
            , <&key_physical_attrs 100 100 1100  300       0     0     0>
            , <&key_physical_attrs 100 100 1200  312       0     0     0>
            , <&key_physical_attrs 100 100 1300  338       0     0     0>
            , <&key_physical_attrs 100 100 1400  338       0     0     0>

            // Left Thumb Cluster (pos 48-52, outermost to innermost)
            //                       w   h    x    y     rot    rx    ry
            , <&key_physical_attrs 100 100  348  420    6000   398   890>
            , <&key_physical_attrs 100 100  348  420    4500   398   890>
            , <&key_physical_attrs 100 100  348  420    3000   398   890>
            , <&key_physical_attrs 100 100  348  414    1500   398   890>
            , <&key_physical_attrs 100 100  348  414       0     0     0>

            // Right Thumb Cluster (pos 53-55, innermost to outermost)
            //                       w   h    x    y     rot    rx    ry
            , <&key_physical_attrs 100 100 1052  414 (-1500)  1102   890>
            , <&key_physical_attrs 100 100 1052  420 (-3000)  1102   890>
            , <&key_physical_attrs 100 100 1052  420 (-4500)  1102   890>
            ;
    };
};

